body{
    background:url(neve.png); /* adicionar imagem no fundo */
    background-size: cover;/* size ajusta o tamanhod a imagem|
                              cover redimenciona para que não hja espaços em branco 
                              e mantem as proporçoes originais*/
    
}
.itens{
border-radius: 5px;  /* arredondar as bordas */
background: steelblue;  /* adicionar cor ao fundo */
padding: 20px;  /* espaçamento interno*/
width: 420px;  /* largura */
margin: auto;  /*espaçamento externo*/
color: #fff;  /* cor*/
font-size: 16px;  /* define o tamanho de uma fonte*/
font-family: Verdana;/*define o estilo da fonte*/
margin-top: 100px;/* espaçamento superior*/
opacity: 0.8;
}
.itens h1{ 
    text-align:center;  /*alinhamento do texto*/
    margin: 0;/*espaçamento externo*/
    padding: 0; /* espaçamento interno*/
}
.itens input {
padding: 12px 20px; /* espaçamento interno*/
margin: 8px 0;/*espaçamento externo*/
display: inline-block;
border:1px solid rgb(122, 173, 207);
border-radius: 4px;
box-sizing: border-box;
font-size: 18px;
background:rgb(178, 203, 212);
color:rgb(2, 2, 48);
opacity: 0,9;
}
.itens input[type=submit]{
    width: 100%;
    border: none;
    cursor: pointer;
}
#nome{
    width: 49%
}
#telefone{
    width: 49%,5%;
}
#email{
    width: 100%;
}
#password{
    widows: 49.5%;
}
#confirm_senha{
width:49%;
}
input[type=submit]:hover{
    background:rgb(38, 77, 38);
    transition: 0.6s/* transição de uma cor para ouutra*/
}