body{
    background:url(v3.ppg); 
    background-size: cover;
    
}
html,body{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#corpo{
border-radius: 5px;  
background: #2EFE9A; 
padding: 20px; 
width: 420px;  
margin: auto;  
color:#E0F8E0;
font-size: 16px; 
font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifj;
opacity: 0.8;
text-align:center; 
}
 

#corpo h1{ 
    text-align:center;  
    margin: 0;
    padding: 0; 
}
#corpo input {
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border:1px solid green;
border-radius: 4px;
box-sizing: border-box;
font-size: 18px;
background:white;
color:#0A2A0A;
opacity: 0,9;
}

#btnLogar{
    width: 50%;
    border: green;
    cursor: pointer;
}